*{
  margin: 0px;
  padding: 0px;
}

.navbar{
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: space-between;
  background-color: beige;
}

.navbar ul{
  list-style-type: none;
}

.nav-link{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}

.nav-link li a{
  margin-right: 20px;
  text-decoration: none;
}

.active{
  color: burlywood;
}