.logo-container {
  height: 50px;
  width: 50px;
  border-radius: 100px;
  transition: background-color 100ms ease-in-out 100ms;
}

.logo-container:hover {
  background-color: var(--light-grey);
  cursor: pointer;
}

.main-logo {
  height: 27px;
  width: 27px;
}

.profile-container {
  padding: 12px;
  border-radius: 100px;
  transition: background-color 100ms ease-in-out 100ms;
}

.profile-container:hover {
  background-color: var(--light-grey);
  cursor: pointer;
}

.logo-profile {
  height: 40px;
  width: 40px;
  border-radius: 100px;
}

.profile-text {
  margin-left: 10px;
}

.profile-name {
  font-size: 15px;
  margin-bottom: 0px;
  color: black;
}

.profile-username {
  font-size: 14px;
  margin-bottom: 0px;
  color: var(--twit-grey);
}
