.app-container{
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}
.content{
  width: 100%;
}

.card-post{
  margin: 20px 15px;
}

.hearder{
  min-height: 50px;
}

.welcome-msg{
  margin: 100px 0px;
}