@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

:root {
  --light-grey: #e7e7e7;
  --search-grey: #f0f3f5;
  --twit-grey: #828c91;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
