#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

#navbar p {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0px;
  border-radius: 8px;
  padding: 3px 10px 7px 10px;
}

#navbar span {
  border: 1px solid var(--dark-grey);
  padding: 3px 10px 7px 10px;
  border-radius: 8px;
  color: black;
}

#navbar p:hover,
span:hover {
  background-color: var(--light-grey);
  cursor: pointer;
}
