.calculator{
    background-color: white;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 8px;
    width: 280px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}